@import  url ( "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" );

* {
  font-family :  "Roboto" , sem serifa;
  box-sizing : border-box;
  margem :  0 ;
  preenchimento :  0 ;
}

corpo ,
html {
  cor de fundo :  # 000 ;
  cor :  #fff ; _
}

um ,
a : pairar ,
a : visitou {
  cor : não definida;
  decoração de texto : nenhuma;
}

.dsmeta-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#sales {
  padding: 40px 10px;
}